.navbar {
  width: 1200px;
  margin: auto;
  padding: 30px 0px;
  @extend %flex;
  justify-content: space-between;
  &-left {
    @extend %flex;
    align-items: baseline;
    gap: 100px;
  }
  &-logo {
    @extend %logo;
  }
  &-link {
    @extend %navbar-link;
    transition: color 0.3s linear;
    &:hover {
      color: $light-coral;
    }
    &:active {
      color: $rap-blue;
    }
  }
  &-list {
    @extend %flex;
    gap: 50px;
  }
  &-btn {
    @include button($white);
    transition: all 0.3s linear;
    &:hover {
      color: $light-coral;
      border: 3px solid $light-coral;
    }
    &:active {
      background: $white;
      border: none;
      color: $dark-green;
    }
  }
}
