// primary colors
$mid-green: #014e56;
$light-coral: #f67e7e;
$white: #ffffff;
// secondary colors
$rap-blue: #79c8c7;
$policy-blue: #2c6269;
$deep-jungle: #004047;
$Sacramento: #012f34;
$dark-green: #002529;

// logo
%logo {
  font-size: 50px;
  font-weight: 900;
  color: white;
}
%navbar-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: $white;
}
%flex {
  display: flex;
  align-items: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin button($color) {
  width: 150px;
  height: 40px;
  border: 3px solid $color;
  border-radius: 25px;
  background: transparent;
  color: $color;
  font-weight: 600;
  font-size: 16px;
}
@mixin title($size, $color) {
  font-style: normal;
  font-weight: 700;
  font-size: $size;
  color: $color;
}
@mixin text($size, $color) {
  font-style: normal;
  font-weight: 600;
  font-size: $size;
  color: $color;
}
